@model IEnumerable<helpDesk.Models.SystemStatusChart>
@{
    string list = "";
    string systemId = "#" + ViewBag.statusTitleId;
    foreach (var item in Model)
    {
        if (list != "")
        {
            list += ",";
        }
        list += "{ module: '" + item.statusName + "', total: " + item.total + " }";
    }
}
<script>
    $(function () {
        var dataSource = [
        ];
        dataSource.push(@Html.Raw(list))
        var systemid = '@systemId';
        $(systemid).dxPieChart({
            size: {
                width: 500
            },
            dataSource: dataSource,
            series: [
                {
                    argumentField: "module",
                    valueField: "total",
                    label: {
                        visible: true,
                        connector: {
                            visible: true,
                            width: 1
                        }
                    }
                }
            ],
            title: "Төлвийн эзлэх тоо"
        });
    }

    );
</script>
<div id="@ViewBag.statusTitleId" class="case-container" style="width: 200px; height: 300px;"></div>
