@{
    ViewBag.Title = "Хэрэглэгчтэй харилцах самбар";
}

<div class="jumbotron">
    <h1>Master help</h1>
    <p class="lead"> Энэхүү вэб сайт нь "Ньюсоник ХХК"-ны харилцагч байгууллагуудтай харилцахад зориулагдсан, үйлчилгээний дараах санал, гомдол, хүсэлтийг хүлээн авч шийдвэрлэгдэхэд зориулагдсан юм.</p>
    <p><a href="/Complain/Create" class="btn btn-primary btn-large">Хүсэлт оруулах &raquo;</a></p>
</div>

