@{
    ViewBag.Title = "Хэрэглэгчийн заавар";
}
<h2>Хэрэглэгчийн заавар</h2>

<h3>Санал хүсэлт оруулах</h3>
<hr />
<img src="~/Content/Tutorial/1.png" width="800" style="border:1px solid lightgray" />
<ul>
    <li>
        Үйлчилгээ хэсгээс үйлчилгээ эсвэл системийг сонгох ба модул хэсгээс тухайн авч байгаа үйлчилгээнийхээ яг аль хэсэг
        санал хүсэлт оруулах хүсэлтэй байгаагаа сонгоно.
    </li>
    <li>
        Хүсэлтийн төрөлөөс ямар төрлийн хүсэлтийг илгээж байгааг сонгоно. Хүсэлтийн төрлийг зөв сонгож өгсөнөөр хүсэлтийг илүү
        хурдан хугацаанд шийдвэрлэх үндэс болно.
    </li>
    <li>
        Хүсэлт хэсэгт өөрийн хүсэлтийн бичнэ.
    </li>
    <li>
        Файл хавсаргах хэсэгт холбоотой зураг эсвэл заасан төрлийн файлуудыг хавсаргаж болох ба дээд хэмжээ нь 10 mb-с хэтэрч болохгүй. Тэгсэн тохиолдолд алдааны мэдээлэл гарна.
    </li>
</ul>

<h3>Хүсэлтийн жагсаалт</h3>
<hr />
<img src="~/Content/Tutorial/2.png" width="800" style="border:1px solid lightgray" />
<ul>
    <li>
        Харилцагч байгууллагын оруулсан бүх жагсаалт харагдана.
    </li>
    <li>
        Төлөв гэсэн багана нь тухайн асуудал хэрхэн шийдэгдсэн эсэх аль түвшинд явааг харуулна.
    </li>
    <li>
        <span class="label label-default">Баталгаажуулагдаагүй</span>
        Энэ төлөвт байгаа хүсэлт нь зөвхөн тухайн оруулсан байгууллагад харагдах ба тодорхой эрхээр баталгаажуулан НЬЮСОНИК компанируу илгээнэ.
        Баталгаажуулагдаагүй мэдээллийг хэдэн ч удаа засаж болох ба баталгаажуулсаны дараа оруулсан мэдээллийг засах боломжгүй.
    </li>
    <li>
        <span class="label label-warning">Хүсэлт илгээгдсэн</span> Баталгаажуулж илгээсэн хүсэлтүүдийн төлөв. Харилцаж байгаа хоёр байгууллагад 2-ууланд харагдана.
    </li>
    <li>
        <span class="label label-primary">Хүсэлт шалгагдаж байна</span> Хариуцагч байгуулага нь тухайн хүсэлтийг хүлээн авсан ба эргүүлэн холбоо барьсан
    </li>
    <li>
        <span class="label label-success">Хүсэлт шийдвэрлэгдсэн</span> Хүсэлтийг шийдвэрлэж асуудалгүй болсон
    </li>
    <li>
        <span class="label label-info">Хүсэлт буцаагдсан</span> Хариуцсан байгууллагатай холбоогүй мэдээлэл болон буруу өгөгдөлтэй хүсэлт
    </li>
</ul>

<h3>Хүсэлтийг баталгаажуулах</h3>
<hr />
<img src="~/Content/Tutorial/3.png" width="800" style="border:1px solid lightgray" />
<ul>
    <li>
        <b>БАТАЛГААЖУУЛАХ</b> гэсэн бичгэн дээр дарж дараах гарч ирсэн цонхноос <b>БАТЛАХ</b>товчийг дарсанаар Хүсэлтийг илгээнэ.
        Хүсэлтийг баталгаажуулсанаас хойш <span style="color:red">ЗАСАХ БОЛОМЖГҮЙ</span>
    </li>
</ul>
<img src="~/Content/Tutorial/4.png" width="800" style="border:1px solid lightgray" />

<h3>Хүсэлтийн төлөв</h3>
<hr />
<img src="~/Content/Tutorial/5.png" width="800" style="border:1px solid lightgray" />
<ul>
    <li>
        Хүсэлт илгээгдсэний дараа төлөв өөрчлөгдсөн байх ба дараах зурган дээрээс харж болно. Төлөв өөрчлөгдөх болгонд тухайн өөрчлөлтийн мэдээлэл хүсэлтийн доор харагдах болно.
    </li>
</ul>
<img src="~/Content/Tutorial/6.png" width="800" style="border:1px solid lightgray" />
